.signup-page {
    display: flex;
    width: 100vw;
}

.signup-page .image-div {
    position: relative;
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-page .image-div .image {
    background: linear-gradient(0deg, rgba(42, 58, 64, 0.43) 0%, rgba(42, 58, 64, 0.43) 100%),
        url(../images/signupbg.png) center/cover no-repeat,
        lightgray 50%;
    height: 100vh;
    width: 100%;
    filter: blur(1px);
}

.signup-page .image-div .logo {
    position: absolute;
    background: url(../images/logo.png) no-repeat;
    background-size: contain;
    height: 130px;
    width: 230px;
}

.signup-page .form {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-page .form h1 {
    color: #6096B4;
    font-weight: 500;
}

.signup-page .form form {
    width: 60%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.signup-page .form form input {
    border-width: 0px 0px 1px 0px;
    margin-bottom: 32px;
    background-color: #EEE9DA;
    border-color: rgba(92, 92, 92, 0.90);
}

.signup-page .form form input:focus {
    outline: none;
}

.signup-page .form form input::placeholder {
    color: #6a6a6a85;
    font-size: 16px;
}

.signup-page .form button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    background: #6096B4;
    font-size: 15px;
    font-weight: 500;
}

.signup-page .form .links a {
    color: #4C4C4C;
    text-emphasis: none;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}